/* ==========================================================================
   General CSS
   ========================================================================== */
/*Affects the body of every web page, padding's are set by Bootstrap'*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #373636;
}

/*Set the Colour of all p tags*/
p{
    color: black;
}

/*Set the Colour of all p2,p3,h1,h2,h3,h6 tags and links to yellow*/
p2, p3, h, h1, h2, h3, h6, a{
    color:#ffc702;
}

/*Set the colour of all links when hovered over to orange*/
a:hover {
    color: #b65d00;
}

/*Set any other required text of the yellow-text class to yellow*/
.yellow-text {
    color:#ffc702;
}

/*Set any other required text of the black-text class to black*/
.black-text{
    color: black;
}

/*Sets the Search Icon's colour for the Beer/Location buttons for the search bars*/
.btn-bg{
    background-image: url('../img/beer_bg.jpg');
}

/*Sets the Search Icon's colour lighter when you hover over the Beer/Location buttons for the search bars*/
.btn-bg:hover{
    background-image: url('../img/beer_bg_h.jpg');
}
/* ==========================================================================
     Search-Table CSS
   ========================================================================== */
/*Set the colour of the results in search table to yellow*/
.search-result-table{
    color:#ffc930;
}

/*Set the headings of the columns in the search table to white*/
.search-result-table th{
    color:white;
}

/*Change the colour of the background of the search table to a dark grey*/
.table-colour{
    background:#222222;
}

table.tablesorter thead tr .header {
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../img/desc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../img/asc.gif);
}

.red-backgroud{
    background-color: red;
}

.table-drink-inpub{
	border: 1px solid white;
	color: #ffc702;
	background: #222222;
}

.table-drink-inpub th{
	color: white;
}
/* ==========================================================================
   Piotr's custom styles
   ========================================================================== */

.fullscreen{
    min-height: 100vh;
}

#price-max{
    margin-top: -10px;
}

.search-submit{
    width: 100%;
}

.footer{
    clear: both;
    margin-top: 40px;
}

.form-in-nav{
    clear: none;
}

.place-name{
    margin-bottom: 0px;
}

.place-type{
    color: #737373;
    font-size: medium;
}

.display-inline{
    display: inline;
}


.continue-form{
    min-height: 1px;
}

/*Change layout descriptions of the drinks*/
.drink-description{
	margin-top: 20px;
	text-align: justify;
}

.user-comment{
	background: #222222;
	border-radius: 10px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}

.user-comment h3{
	margin-top: 5px;
	color: #ec971f;
}

/* ==========================================================================
     Drinker.php CSS
   ========================================================================== */
/*Nav-bar CSS does..??*/
.extend{
    overflow: hidden;
}
/* ==========================================================================
     Footer CSS
   ========================================================================== */

/*Applies top and bottom margins to the footer*/
.drinkFooter{
    margin-bottom: -20px;
    margin-top: 50px;
    background-color: #222222;
}

/*Changes the colour of the footer text and aligns it to center*/
.footerText{
    text-align: center;
    color:#ffc702;
}

/* ==========================================================================
   Home.php CSS
   ========================================================================== */

/*Gives the large search bar a margin below it*/
#MainSearchBar{
    margin-bottom: 100px;
}

/*Gives the large container a border and sets colour to dark grey*/ 
.promotionBox{
    border: 1px solid black;
    background-color: #222222;
}

/*Creates a box inside the promotion Container, for the recommended drinks/bars*/
.infoBox{
    border: 1px solid black;
    background-color: white;
}

/*Separates the recommended drinks/bars creating a margin between the rows */
.infoContainer{
    margin: 75px;
}

/*Sets the carousel's slide images to a max width of 800px'*/
.slide-image{
    width: 800px;
}

/*Creates a margin around the infoImage pictures of recommended drinks/bars*/
.infoImage{
    margin: 10px;
}
/*==========================================================================
   Index.php CSS
   ========================================================================== */

/*Assigns a margin to the Age verification splash image */
.WelcomeImage{
    margin-top: 50px;    
}

/*Roughly centers the welcomeMessage field*/
#WelcomeMessage{
    padding-top: 100px;
    display:display-inline;
}

/*Positions the facebook/google log in buttons*/
.loginButton{
    padding-left: 20px;
}

/*Hides the allowAccess div, it will never be seen shhhh*/
#allowAccess{
    display:none;
}

/*Sets the appearance of the submit button*/
#submit {
    border: 3px solid #0a3c59;
    background: #3e779d;
    /*Gives the background colour a gradient colour between #65a9d7 and #3e779d
             which is compatible with chrome and safari */
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    /*Gives the background colour a linear gradient colour between #65a9d7 and
     #3e779d which is compatible with chrome and safari */
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    /*Gives the background colour a linear gradient colour between #65a9d7 and
     #3e779d which is compatible with firefox */
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    padding: 5px 10px;
    /*Gives the buttons a curved corner of radius 29px, which is compatible with
      chrome and safari*/
    -webkit-border-radius: 29px;
    /*Gives the buttons a curved corner of radius 29px, which is compatible with
      firefox*/
    -moz-border-radius: 29px;
    border-radius: 29px;
    color: #000000;
    font-size: 14px;
    font-family: sans-serif;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 35px;
    display:none;
}

/*Sets the appearance of the submit button when it is hovered over*/
#submit:hover {
    color: #fff;
}

/*Hides the datepicker input field until it is needed*/
#datePicker{
    display: none;
}

/*Hides the continue button until it is needed*/
#continue{
    display:none;
}
/* ==========================================================================
   Drink.PHP CSS
   ======================S=================================================== */
.drink-image{
    max-width: 700px;
}
